
{% include "base/base-head.html" %}


{% comment %} <body class="theme-sakura" > {% endcomment %}
{% comment %} <body class="theme-midnight" > {% endcomment %}
<body>
{% include "nav/top-nav.html" %}
{% include "nav/nav.html" %}
{% include "nav/sub-nav.html" %}

  {% block content %}

  {% endblock content %}

{% include "base/messages.html" %}

{% include "base/footer.html" %}
{% include "base/base-scripts.html" %}

<a href="https://wa.me/201558763958" class="whatsapp-float text-decoration-none" target="_blank" title="Contact us on WhatsApp">
  <i class="fab fa-whatsapp"></i>
</a>
</body>
</html>

