{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- B. Main navbar -->
<nav class="navbar navbar-expand-lg navbar-dark modex-navbar">
    <div class="container-fluid px-4">

        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center modex-navbar-brand modex-navbar-brand-hover" href="{% url 'home' %}">
            <img src="https://cdn-icons-png.flaticon.com/512/1170/1170576.png" alt="Modex Logo" width="40"
                 class="{% if LANGUAGE_CODE == 'ar' %}ms-2{% else %}me-2{% endif %} modex-navbar-logo">
            <span class="modex-navbar-brand-text">Modex</span>
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#modexNavbar"
                aria-controls="modexNavbar" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse {% if LANGUAGE_CODE == 'ar' %}text-end{% endif %}" id="modexNavbar"
            {% if LANGUAGE_CODE == 'ar' %}dir="ltr"{% endif %}>

            <form class="d-flex {% if LANGUAGE_CODE == 'ar' %}ms-lg-4{% else %}mx-lg-4{% endif %} flex-grow-1 modex-navbar-search-form"
             action="{% url 'product:product_list' %}"{% if LANGUAGE_CODE == 'ar' %}dir="rtl"{% endif %} method="GET">

        <div class="input-group input-group-lg w-100">
    

            <!-- Category Filter -->
        <select class="form-select modex-navbar-search-select" style="{% if LANGUAGE_CODE == 'ar' %}border-radius: 0 0.5rem 0.5rem 0; border-right: 0;{% endif %}" name="category">
            <option value="" {% if not selected_category %}selected{% endif %}>
                    {% trans "All" %}
                </option>
                {% for name,slug in contextCategories %}
                    <option value="{{ slug }}" {% if selected_category == name %}selected{% endif %}>
                        {{ name }}
                    </option>
                {% endfor %}
            </select>

            <!-- Search Input -->
            <input class="form-control modex-navbar-search-input" type="search"
                   placeholder="{% trans 'Search Modex for products, brands, and more...' %}"
                   aria-label="{% trans 'Search' %}" name="search"
                   value="{{ selected_filter|default_if_none:'' }}">

            <!-- Search Button -->
            <button class="btn btn-warning modex-navbar-search-btn" style="{% if LANGUAGE_CODE == 'ar' %}border-radius: 0.5rem 0 0 0.5rem; border-right: 0;{% endif %}" type="submit">
                <i class="fas fa-search {% if LANGUAGE_CODE == 'ar' %}ms-1{% else %}me-1{% endif %}"></i>
            </button>
        </div>
    </form>
    
</div>


    </div>
</nav>
