{% load i18n %}
<!-- C. Subnav -->
<nav dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}" class="navbar navbar-expand-lg navbar-light modex-subnav shadow-sm py-2"  >
    <div class="container-fluid px-4">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#modexSubnav" aria-controls="modexSubnav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            <span class="navbar-toggler-icon modex-subnav-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="modexSubnav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                {% for name,slug in contextCategories %}
                    <li class="nav-item">
                        <a class="nav-link modex-subnav-link {% if selected_category == slug %}active-category{% endif %}" href="{% url 'product:product_list' %}?category={{ slug }}">
                            {{ name }}
                        </a>
                    </li>
                    {% endfor %}
            </ul>
                <a href="{% url 'contact:contact' %}" class="btn btn-outline-primary btn-sm rounded-pill">
                    <span class="d-none d-sm-inline">
                        {% trans "Contact Us" %}
                    </span>
                </a>
        </div>
    </div>
</nav>
